
@import "../../../variables.scss";

.buttonContainer1{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: $theme-color;
    border-radius: 8px;
}
.buttonContainer2{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $theme-color;
    color: $white-color;
    border-radius: 8px;
    width: 100%;
}
.buttonIcon{
    fill: $theme-color;
}
.textStyles{
    text-align: center;
    width: 100%;
}