@import "../../../variables.scss";

.buttonCommonStyle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.buttonContainer1 {
  color: $theme-color;
  border-radius: 8px;
}
.buttonContainer2 {
  background-color: $theme-color;
  color: $white-color;
  border-radius: 8px;
  width: 100%;
}
.buttonContainer3 {
  padding-inline: 15px;
  background-color: $white-color;
  color: $theme-color;
  border: 1px solid $theme-color;
  font-weight: 400 !important;
  border-radius: 4px;
  width: 100%;
}
.buttonIcon {
  fill: $theme-color;
}
.textStyles {
  text-align: center;
  width: 100%;
}
