@import "../../variables.scss";

.cardsSection {
  padding-inline: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($task-card-width, 1fr));
  gap: 16px;

  overflow-y: auto;
}

.centered {
  padding-inline: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noTasksText {
  font-size: 36px;
  color: $gray-color-2;
}

@media (max-width: 1024px) {
  .cardsSection {
    grid-template-columns: repeat(auto-fill, minmax($task-card-width, 1fr));
    /* 3 cards per row when width < 1024px */
  }
}

@media (max-width: 768px) {
  .cardsSection {
    padding-inline: 20px;
    grid-template-columns: repeat(auto-fill, minmax($task-card-width, 1fr));
    /* 2 cards per row when width < 768px */
  }
}

@media (max-width: 480px) {
  .cardsSection {
    grid-template-columns: repeat(auto-fill, minmax($task-card-width, 1fr));
    /* 1 card per row when width < 480px */
  }
}
