@import "../../../variables.scss";

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .input {
    border: none;
    outline: none;
    background-color: $gray-color-6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 40px;
    border-radius: 8px;
<<<<<<< HEAD
    color: #666;
=======
>>>>>>> bef383bd9cdb2974c0cb83e853976afd462cd95a
  }

  .errorMessage {
    color: $red-color;
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .inputLabel {
    font-size: 12px;
  }
}
