.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .input {
    border: none;
    outline: none;
    background-color: #f3f4f6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 40px;
    border-radius: 8px;
  }

  .errorMessage{
    color: red;
    font-size: 12px;
  }
}
