@import "../../variables.scss";
.SidebarContainer {
  height: 100%;

  transition: width 0.2s ease; /* Transition width */
  padding-top: 30px;
  padding-bottom: 30px;

  .sidebarBTNContainer {
    width: 200px;
    padding-inline-start: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .sidebarBTN {
    color: $gray-color-2;
    font-weight: 400 !important;
    width: auto;
    display: inline-flex;
    align-items: start;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  .sidebarBTNText {
    text-align: start;
  }
}

.open {
  width: 200px;
}
.closed {
  width: 0;
  overflow: hidden;
}
