@import "../../../variables.scss";

.cardLink {
  text-decoration: none; /* Removes underline */
  color: inherit;

  .card {
    padding: 20px;
    height: 265px;
    width: auto;
    box-shadow: 0 0 10px 1px $gray-color-5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-break: break-word;

    .dateContainer {
      display: flex;
      gap: 7px;
      align-items: center;
      .date {
        color: $gray-color-2;
        font-size: 12px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .dottedTitle {
      display: flex;
      align-items: start;
      gap: 10px;
    }

    .dot {
      position: relative;
      top: 7px;
      flex-shrink: 0;
      height: 8px;
      width: 8px;
      border-radius: 100%;
    }

    .title {
      font-size: 18px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
      max-height: 45px;
      overflow: hidden;
    }

    .image {
      min-height: 155px;
      max-height: 155px;
    }

    .description {
      color: $gray-color-2;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 0;
      overflow: hidden; /* Hide any overflowing content */
      text-overflow: ellipsis; /* Show ellipsis for truncated text */
    }
  }
}
