@import "../../../variables.scss";

.cardLink {
  text-decoration: none; /* Removes underline */
  color: inherit;

  .card {
    padding: 20px;
    height: 260px;
    width: auto;
    box-shadow: 0 0 10px 1px $gray-color-5;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .dateContainer {
      display: flex;
      gap: 7px;
      align-items: center;
      .date {
        color: $gray-color-2;
        font-size: 12px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .dottedTitle {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .dot {
      height: 8px;
      width: 8px;
      border-radius: 100%;
    }

    .title {
      font-size: 18px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
    }

    .description {
      color: $gray-color-2;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 0;
      display: -webkit-box; /* For Webkit browsers */
      -webkit-box-orient: vertical; /* For Webkit browsers */
      -webkit-line-clamp: 10; /* Vendor-prefixed version for Webkit */
      line-clamp: 3; /* Standard version for other browsers */
      overflow: hidden; /* Hide overflowing content */
      text-overflow: ellipsis; /* Add ellipsis at the end of truncated content */
    }
  }
}
