$black-color: #000000;
$gray-color-2: #575757;
$gray-color: #4b5563;
$gray-color-5: #d3d3d3;
$gray-color-6: #f3f4f6;
$theme-color: #646ec8;
$white-color: #ffffff;
$red-color: #ff0000;

$header-height: 60px;
$task-card-width: 300px;
