

.textInputContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textInputContainer .textInput{
    border: none;
    outline: none;
    background-color: #F3F4F6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 40px;
    border-radius: 8px;
}